//- including other pug works
//- script(src='/javascripts/app.js')
script(src='/jquery/dist/jquery.min.js')
script(src='/tether/dist/js/tether.min.js')
script(src='/bootstrap/dist/js/bootstrap.min.js')
script(src='/js-cookie/src/js.cookie.js')
script(src='/es6-promise/es6-promise.js')
script
	| ES6Promise.polyfill()

//- assets
script(src='/assets/coordinates/coordinates-basefunctions.js')
script(src='/assets/check_active.js')
//- including .html, .css, etc works

meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=0.5 maximum-scale=1.0')

//- favicon
link(href='/favicon.ico', rel='icon')

//- stylesheets
link(href='/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
link(href='/bootstrap-tagsinput/dist/bootstrap-tagsinput.css', rel='stylesheet')
link(href='/jquery-bar-rating/dist/themes/css-stars.css', rel='stylesheet')
link(href='/components-font-awesome/css/font-awesome.min.css', rel='stylesheet')
link(href='/bootstrap-tagsinput/examples/assets/app.css', rel='stylesheet')
link(href='/assets/quagga.css' rel='stylesheet')
link(href='/assets/style.css' rel='stylesheet')
//- style.css is to be last in order to overwrite the other stylesheets.

if loggedin
	if user_data.textSize == "1.5x"
		link(href='/assets/style1_5.css', rel='stylesheet')
	else if user_data.textSize == "2x"
		link(href='/assets/style2.css', rel='stylesheet')
	if user_data.colourScheme == "Blue"
		link(href='/assets/styleblue.css', rel='stylesheet')
	else if user_data.colourScheme == "Orange"
		link(href='/assets/styleorange.css', rel='stylesheet')

script(src='/assets/jquery-ui.min.js')
script(src='/bootstrap-tagsinput/dist/bootstrap-tagsinput.js')
script(src='/typeahead.js/dist/typeahead.bundle.js')
script(src='/jquery-bar-rating/dist/jquery.barrating.min.js')

script(src='/socket.io/socket.io.js')
script(src='/assets/js-cookie.js')
script(src='/assets/push_notifications.js')

if isSearchResultsPage
	script
		| var fooditems = !{JSON.stringify(results.fooditems).replace(/<\//g, '<\\/')};
		| var search_location = {latitude: #{lat}, longitude: #{lng}}
		| $(function () {$('[data-toggle="tooltip"]').tooltip()});
	script(src='/assets/functions/browsercheck.js')
	script(src='/assets/poachGETVariables.js')
	script(src='/assets/interactive_sorting.js')

//- add mixins here

mixin fooditem_card(fooditem)
	if loggedin
		a(href='fooditem?id=' + fooditem.MealID)
			.card.fooditem-card(id=fooditem.MealID)
				img.card-img-top.img-fluid(src=fooditem.Image, alt='Card image cap')
				.card-profile-container
					img.card-userprofile-img(src=fooditem.ProfileImage, alt='Card image cap')
				.card-block
					h4.card-title #{fooditem.Name}
					p.card-text #{fooditem.Description}
					p.card-text
						small.text-muted Best before #{fooditem.BestBefore}
	else
		a(href='/#' data-toggle='modal', data-target='#loginModal')
			.card.fooditem-card(id=fooditem.MealID)
				img.card-img-top.img-fluid(src=fooditem.Image, alt='Card image cap')
				.card-profile-container
					img.card-userprofile-img(src=fooditem.ProfileImage, alt='Card image cap')
				.card-block
					h4.card-title #{fooditem.Name}
					p.card-text #{fooditem.Description}
					p.card-text
						small.text-muted Best before #{fooditem.BestBefore}