doctype html
html(lang="en")
	head
		title Dinno
		include includes/head
		//- link(href='components-font-awesome/css/font-awesome.min.css', rel='stylesheet')
		style
			include includes/chat.css
		script
			include assets/js-cookie.js
		//- link(rel='stylesheet', href='includes/chat.css')

	body
		include includes/nav
		.container#chat_container
			.row
				.conversation-wrap.col-lg-3
					form(action='' onsubmit="return false").form-inline#user-search
						input.form-control.send-message#user-search-box(name="userSearch" type='text', placeholder='Search for a user...' autocomplete="off")
					#user-search-results
					each convo in convos
						if convo.UserID != user_data.userID
							.media.conversation(onclick="location.href='/chat?id=" + convo.UserID +"';")
								a.pull-left(href='/chat?id=' + convo.UserID)
									img.media-object.contact_photo.sm(src=convo.ProfileImage)
								.media-body.message-list-box
									h5.media-heading #{convo.Firstname}
									small #{convo.Contents}

				.message-wrap.col-lg-9
					.media.msg#chat_header
							.media-body
								a.pull-right(href='/profile?id=' + chat.theirId)
									img.media-object#contact_photo( src=chat.profileImage)
								.pull-left#contact_details
									if chat.isAdmin
										h5.media-heading #{chat.theirName} (Admin)
									else if chat.isSuspended
										h5.media-heading #{chat.theirName} (Suspended)
									else
										h5.media-heading #{chat.theirName}
					.msg-wrap
						//- display messages
						
						- var lastMsg = chat.messages[0];
						each msg, i in chat.messages
							- var lastMsg = chat.messages[i-1];
							if i == 0
								.alert.alert-info.msg-date
										strong #{msg.Day}
							else if msg.Day != lastMsg.Day
								.alert.alert-info.msg-date
									strong #{msg.Day}
							.media.msg
								.media-body
									small.pull-right.time
										i.fa.fa-clock-o 
										p(style='display: inline;')      #{msg.TimeSent}
									h5.media-heading #{msg.FromName}
									small.col-lg-10 #{msg.Contents}


					.send-wrap
						if chat.isSuspended
							p.text-muted This user is suspended and so cannot be messaged.
						else
							form(action='' onsubmit="return false")#message_send
								.chat-snug
									input.form-control.send-message-container#messagebox(name="message" type='text', placeholder='Write a reply..')
									button.btn.btn-outline-primary#btn-message-send(type='button') 
										i.fa.fa-paper-plane(aria-hidden='true')

		script(src='/socket.io/socket.io.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
		script
			include assets/chat.js