extends layout


block container
	script(src='/socket.io/socket.io.js')
	//script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js') This has been referenced to in scripts.pug

	include includes/nav
	.container 
		form(method="post")
			.row
				.col-lg-6
					#container
						if edit
							h1 Edit your Dinno
							p.text-muted Edit your food item using this form. Please try to fill in all listed fields.
						else
							h1 Add a Dinno
							p.text-muted Add a new food item to the dinno system. Please try to fill in all listed fields.
						.form-group
							label(for='name') Food Name

							input#name.form-control.food-name(name="name" type='foodname', placeholder='eg. Lettuce' value=name)
						.form-group
							label(for='foodtype') Food Type
							select#foodtype.form-control(name="foodtype")
								if (isIngredient)
									option Meal
									option(selected = true) Ingredient
								else
									option(selected = true) Meal
									option Ingredient
						.form-group
							label(for='description') Description

							textarea#description.form-control(rows='3' maxlength="140" name="description", placeholder="eg. A nutritious head of iceberg lettuce.") #{description}
							//- small#passwordHelpBlock.form-text.text-muted Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
						label(for='bestbefore') Best Before
						br
						#bestbefore.form-inline
							#sr-only
								label(for='day') Day
								select#day.date(name="day" type="Day")
									- for (var d = 1; d <= 31; d++)
											if (d == day)
												if (d < 10)
													option(value='0'+d selected='selected') #{d}
												else
													option(value=''+d selected='selected') #{d}												
											else
												if (d < 10)
													option(value='0'+d) #{d}
												else
													option(value=''+d) #{d}		
							#sr-only
								label(for='month') Month
								select#month.date(name="month" type="Month")
									each m, i in ['January','Febuary','March','April','May','June','July','August','September','October','November','December']
										if (i + 1 == month)
											option(value=''+(i+1) selected='selected') #{m}
										else
											option(value=''+(i+1)) #{m}
							#sr-only
								label(for='year' ) Year
								select#year.date(name="year" type="Year") 
									- for (var y = 2100; y >= 1900; y--)
											if (y == year)
												option(value=''+y selected='selected') #{y}
											else
												option(value=''+y) #{y}
						.form-group
							input#secret-image-input.form-control.password.secret-input(name="image" value=image)
							input#secret-lat-input.form-control.password.secret-input(name="lat" value=lat)
							input#secret-lng-input.form-control.password.secret-input(name="lng" value=lng)
						.form-group
							label(for='description') Tags
							input#tags(name="tags", data-role="tagsinput",type="text")
							if edit
								input#oldTags(name='oldtags',type='hidden')
						.form-group
							label(for='location') Location
							input#location.form-control(name="location" type='location', placeholder='eg. 18 North Bailey, Durham, UK', value=location)
							
							.form-check
								label.form-check-label(for='use-current-location')
									input.form-check-input(id='use-current-location', type='checkbox' name='useCurrentLocation')
									|  Use current location

				.col-lg-4
					#container
						.form-group#pictureupload
							h3 Add an Image
							#upload_img_container
								img(src=image)#profilephoto
								input(id="input_images" name='images' type="file" multiple="true")
							#barcode_img_container
								h3 Scan your barcode here
								#barcodeContainer
								img#barcode
								input(id="barcode_image" name='barcode' type='file' multiple="false")
								
								
						//- request button
						br
						button.btn.btn-primary.btn-lg.btn-block#submitter( type='submit' value="Submit") Add Fooditem
					
									
						
	script
		include assets/upload.js
		include assets/add.js
		include assets/push_notifications.js
		include assets/lib/quagga.js
		include assets/barcode.js
		include assets/js-cookie.js

	script.
		var b = document.getElementById("barcode_image")
		$(b).change(function(){
			var barcode = $("#barcode_image")[0].files[0]
			var preview = document.getElementById("barcode")
			reader = new FileReader()
			reader.addEventListener("load", function () {
				//console.log("barcode URL: " + reader.result)
				preview.src = reader.result
				Quagga.decodeSingle({
					decoder: { // or code_39, codabar, ean_13, ean_8, upc_a, upc_e
						readers: ["code_128_reader",'ean_reader', 'ean_8_reader', 'code_39_reader', 'code_39_vin_reader', 'codabar_reader', 'upc_reader', 'upc_e_reader', 'i2of5_reader'],
					},
					numOfWorkers: 0,
					locate: true,
					src: reader.result
				},function(result){
					if (result && result.codeResult) {
						console.log(result.codeResult.code);
						$.get("http://eandata.com/feed/",{v:3,keycode:"C3AA45D258F231CD", mode:"json",find:result.codeResult.code},function(data){
							$("input#name").val(data.product.attributes.product)
						})
					}
					else {
						console.log('no barcode detected');
					}
				})
			}, false);
			reader.readAsDataURL(barcode)
		})

		var k = "#{allTags}"
		var currentTags = "#{tags}"
		k = JSON.parse(k.replace(/&quot;/g,'"'))
		currentTags = JSON.parse(currentTags.replace(/&quot;/g,'"'))
		var tagNames = []
		for(var i = 0; i < k.length ; i++){
			tagNames[i] = k[i].text
			tagNames[i].value = k[i].value
		}
		var tags = new Bloodhound({
			datumTokenizer: Bloodhound.tokenizers.obj.whitespace('text'),
			queryTokenizer: Bloodhound.tokenizers.whitespace,
			local: k,
		});
		// deals with tags
		tags.initialize();
		$('input#tags').tagsinput({
			tagClass: 'badge-danger',
			itemValue: 'value',
			itemText: 'text',
			typeaheadjs: {
				name: 'tags',
				displayKey: 'text',
				source: tags.ttAdapter()
			},
			//attempted to use freeInput: false, but doesnt work, hence event handler below
		});
	if edit
		script.
			for(var i = 0; i < currentTags.length ; i++){
				$('input#tags').tagsinput('add',currentTags[i])
			}
			$('input#oldTags').val($('input#tags').val())