extends layout


block container
	script(src='/socket.io/socket.io.js')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')

	include includes/nav
	.container 
		form(method="post")
			.row
				.col-lg-6
					#container
						h1 Add Fooditem
						.form-group
							label(for='Food Name') Food Name
							input#name.form-control.food-name(name="name" type='foodname', placeholder='Lettuce' value="saiusages")
						.form-group
							label(for='exampleSelect1') Food Type
							select#foodtype.form-control(name="foodtype")
								option Meal
								option Ingredient
						.form-group
							label(for='exampleTextarea') Description
							textarea#description.form-control(rows='3' maxlength="140" name="description")
							//- small#passwordHelpBlock.form-text.text-muted Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
							label(for='exampleSelect1') Best Before
						.form-inline
							#sr-only
								label(for='exampleSelect1') Day
								select#day.date(name="day" type="Day" value=day)
									- for (var d = 1; d <= 31; d++)
											if(d < 10)
												option(value='0'+d) 0#{d}
											else 
												option(value=''+d) #{d}
							#sr-only
								label(for='exampleSelect1') Month
								select#month.date(name="month" type="Month" value=month)
									option(value='01') January
									option(value='02') Febuary
									option(value='03') March
									option(value='04') April
									option(value='05') May
									option(value='06') June
									option(value='07') July
									option(value='08') August
									option(value='09') September
									option(value='10') October
									option(value='11') November
									option(value='12') December
							#sr-only
								label(for='exampleSelect1' ) Year
								select#year.date(name="year" type="Year" value=year) 
									- for (var y = 2100; y >= 1900; y--)
										if(d.length == 1)
										option(value=''+y) #{y}
						.form-group
							input#secret-image-input.form-control.password(name="profileImage" value=profileImage)
						.form-group
							label(for='Food Name') Location
							input#location.form-control(name="location" type='location', placeholder='Durham, UK' value='1')

						
				.col-lg-4
					#container
						.form-group#pictureupload
							#upload_img_container
								input(id="input_images" name='images' type="file" multiple="true")
						//- request button
						button.btn.btn-primary.btn-lg.btn-block#submitter( type='submit' value="Submit") Add Fooditem
			.row
				.form-group.barcode-scanner-container
					h3 Scan your barcode here!
					#barcodeContainer
									
						
	script
		include assets/upload.js
		include assets/add.js
		include assets/lib/quagga.js
		include assets/barcode.js