extends layout

block container

	include includes/nav
	.container 
		include includes/status
		.row#user_profile_details
			.col-md-4.col-lg-3
				img(src=page_data.profile_photo)#profilephoto
			.col-md-6.col-lg-6
				if page_data.isAdmin
					h1#profile-title Hi, I'm #{page_data.name} [ADMIN]
				else
					h1#profile-title Hi, I'm #{page_data.name}
				h4 
					span.badge.badge-default #{page_data.rating}
					|	 #{page_data.user_location}
				h6 #{page_data.age} years old
				if page_data.isSuspended
					h6 This user has been suspended from Dinno for violating our terms of service.
				else
					h6 Has been reported #{page_data.reportCount} times.
					if page_data.ownProfile
						a.chat-link(href='editprofile') Edit profile
						a.chat-link(href='reporthistory') View Report Record
					else if page_data.isAdmin
						a.chat-link(href='/chat?id=' + page_data.userId) Send me a message
					else
						a.chat-link(href='/chat?id=' + page_data.userId) Send me a message
						a(href="/report?id=" + page_data.userId) Report me
		.dinnos
				h3 Dinnos
				.row
					each fooditem in page_data.fooditems
						.col-md-3
							a(href='fooditem?id=' + fooditem.MealID).card.fooditem-card
								img.card-img-top.img-fluid(src=fooditem.Image, alt='Card image cap')
								.card-profile-container
									img.card-userprofile-img(src=fooditem.ProfileImage, alt='Card image cap')
								.card-block
									h4.card-title #{fooditem.Name}
									p.card-text #{fooditem.Description}
					else
						h5 No food :(
								//- p.card-text
								//- 	small.text-muted Last updated #{fooditem.last_updated} mins ago
					//- a(href='/fooditem').card
					//- 	img.card-img-top.img-fluid(src='https://media-cdn.tripadvisor.com/media/photo-s/04/cd/bd/99/kfc.jpg', alt='Card image cap')
					//- 	.card-block
					//- 		h4.card-title Card title
					//- 		p.card-text This card has supporting text below as a natural lead-in to additional content.
					//- 		p.card-text
					//- 			small.text-muted Last updated 3 mins ago

		//- .row
		//- 	.hr
		//- 	.col-md-9.reviews_container
		//- 		h3.reviewheader Reviews
		//- 		.media.reviewbox
		//- 			a(href='#')
		//- 				img.d-flex.mr-3(src=profile_photo, alt='Generic placeholder image')
		//- 			.media-body
		//- 				h5.mt-0 
		//- 					a(href='#') Patricia
		//- 				|	Roberto's apartment was wonderful and he is a great host. My daughter arrived a day earlier than I did and he was not able to meet her personally but had a friend meet her with the key and show her the apartment!
		//- 		.media.reviewbox
		//- 			a(href='#')
		//- 				img.d-flex.mr-3(src=profile_photo, alt='Generic placeholder image')
		//- 			.media-body
		//- 				h5.mt-0 
		//- 					a(href='#') Patricia
		//- 				|	Roberto's apartment was wonderful and he is a great host. My daughter arrived a day earlier than I did and he was not able to meet her personally but had a friend meet her with the key and show her the apartment!
		//- 		.media.reviewbox
		//- 			a(href='#')
		//- 				img.d-flex.mr-3(src=profile_photo, alt='Generic placeholder image')
		//- 			.media-body
		//- 				h5.mt-0 
		//- 					a(href='#') Patricia
		//- 				|	Roberto's apartment was wonderful and he is a great host. My daughter arrived a day earlier than I did and he was not able to meet her personally but had a friend meet her with the key and show her the apartment!
		//- 		.media.reviewbox
		//- 			a(href='#')
		//- 				img.d-flex.mr-3(src=profile_photo, alt='Generic placeholder image')
		//- 			.media-body
		//- 				h5.mt-0 
		//- 					a(href='#') Patricia
		//- 				|	Roberto's apartment was wonderful and he is a great host. My daughter arrived a day earlier than I did and he was not able to meet her personally but had a friend meet her with the key and show her the apartment!