extends layout

block container

	include includes/nav
	.container 
		include includes/status
		.row#user_profile_details
			.col-md-4.col-lg-3
				img(src=page_data.profile_photo)#profilephoto
			.col-md-6.col-lg-6
				if page_data.isAdmin
					h1#profile-title Hi, I'm #{page_data.name}! 
						a(href="#")
							i.fa.fa-key.adminkey(aria-hidden='true' data-toggle="tooltip" data-placement="top" title="Administrator")
				else
					h1#profile-title Hi, I'm #{page_data.name}! 
				h4 
					span.badge.badge-default #{page_data.rating} Stars
					|	 #{page_data.user_location}
				h6 I'm #{page_data.age} years old
				if page_data.isSuspended
					h6 This user has been suspended from Dinno for violating our terms of service.
				else
					if isReported
						h6 I've been reported #{page_data.reportCount} times.
					if page_data.ownProfile
						span.chat-link-wrapper
							a.chat-link(href='editprofile') Edit profile
						span.chat-link-wrapper
							a.chat-link(href='reporthistory') View Report Record
					else if page_data.isAdmin
						a.chat-link(href='/chat?id=' + page_data.userId) Send me a message
					else
						a.chat-link(href='/chat?id=' + page_data.userId) Send me a message
						a(href="/report?id=" + page_data.userId) Report me
		.dinnos
				h3 Dinnos
				.row
					each fooditem in page_data.fooditems
						.col-md-3
							+fooditem_card(fooditem)
					else
						h5 No food :(
		//- .row
		//- 	.hr
		//- 	.col-md-9.reviews_container
		//- 		h3.reviewheader Reviews
		//- 		.media.reviewbox
		//- 			a(href='#')
		//- 				img.d-flex.mr-3(src=profile_photo, alt='Generic placeholder image')
		//- 			.media-body
		//- 				h5.mt-0 
		//- 					a(href='#') Patricia
		//- 				|	Roberto's apartment was wonderful and he is a great host. My daughter arrived a day earlier than I did and he was not able to meet her personally but had a friend meet her with the key and show her the apartment!
		//- 		.media.reviewbox
		//- 			a(href='#')
		//- 				img.d-flex.mr-3(src=profile_photo, alt='Generic placeholder image')
		//- 			.media-body
		//- 				h5.mt-0 
		//- 					a(href='#') Patricia
		//- 				|	Roberto's apartment was wonderful and he is a great host. My daughter arrived a day earlier than I did and he was not able to meet her personally but had a friend meet her with the key and show her the apartment!
		//- 		.media.reviewbox
		//- 			a(href='#')
		//- 				img.d-flex.mr-3(src=profile_photo, alt='Generic placeholder image')
		//- 			.media-body
		//- 				h5.mt-0 
		//- 					a(href='#') Patricia
		//- 				|	Roberto's apartment was wonderful and he is a great host. My daughter arrived a day earlier than I did and he was not able to meet her personally but had a friend meet her with the key and show her the apartment!
		//- 		.media.reviewbox
		//- 			a(href='#')
		//- 				img.d-flex.mr-3(src=profile_photo, alt='Generic placeholder image')
		//- 			.media-body
		//- 				h5.mt-0 
		//- 					a(href='#') Patricia
		//- 				|	Roberto's apartment was wonderful and he is a great host. My daughter arrived a day earlier than I did and he was not able to meet her personally but had a friend meet her with the key and show her the apartment!