extends layout

block container
  include includes/nav
  //- search options
  .modal.fade#search-options-modal(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Search Options
          |  
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body  
          form#filters
            //- span Location
            //- input#newName(type='text')
            //- br
            span Meal
            input#meal(type='radio',name='isMeal',value='true')
            span Ingredient
            input#ingredient(type="radio",name='isMeal',value='false')
            span Either
            input#ingredient(type="radio",name='isMeal',value='both')
            br
            .form-group.row
              label.col-3.col-form-label(for='example-date-input') Radius
              .col-4
                input#range(type='range',name='radius')
              .col-4
                input#rangeVal(type='number' width='20px')
                span km
              input#tag(input='text',data-role='tagsinput',name='tags')
              br
            .modal-footer
              button.btn.btn-primary Filter
          //- button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          //- |  
          //- button.btn.btn-primary(type='button') Save changes
        .modal-header
          h5#exampleModalLabel.modal-title Results Filtering
        .modal-body 
          form#filtering
            .form-group.row
              label.col-3.col-form-label(for='example-date-input') Best Before
              .col-6
                input#example-date-input.form-control(type='date', value='2011-08-19')
            span Newest 
            input#newest(type="radio" name="orderBy")
            br
            span Nearest 
            input#nearest(type="radio" name="orderBy")
            br
            span A-Z 
            input#A-Z(type="radio" name="orderBy")
            br
            span Freshest
            input#freshest(type="radio" name="orderBy")
            //- br
            //- input#sort(type="button" value="Sort Results")
        .modal-footer
          button.btn.btn-primary#sort(type='button') Sort Results

  //- search results
  .container-fluid#display_item_results
    .row.display-item-results-baby
      .col-6.no-float#results_container_left
        button.btn.btn-primary(data-toggle='modal', data-target='#search-options-modal') Search Options
        #search_item_details 
          //- if results.food
          //-   h1 Searching for #{results.food}
          //- else
          //-   h1 Searching for anything
          #formHolder
            //- form#filters
            //-   //- span Location
            //-   //- input#newName(type='text')
            //-   //- br
            //-   span Meal
            //-   input#meal(type='radio',name='isMeal',value='true')
            //-   span Ingredient
            //-   input#ingredient(type="radio",name='isMeal',value='false')
            //-   span Either
            //-   input#ingredient(type="radio",name='isMeal',value='both')
            //-   br
            //-   input#range(type='range',name='radius')
            //-   input#rangeVal(type='number')
            //-   button Filter
            //- form
            //-   span Category: 
            //-   input#category(type='text')
            //-   br
            //-   span Best Before: 
            //-   input#bestBeforeDay(type="text" size="2")
            //-   input#bestBeforeMonth(type="text" size="2")
            //-   input#bestBeforeYear(type="text" size="4")
            //-   //- br
            //-   //- span Max Distance:
            //-   //- input#maxDistance(type="text")
            //-   br
            //-   span Order By:
            //-   br
            //-   span Newest 
            //-   input#newest(type="radio" name="orderBy")
            //-   br
            //-   span Nearest 
            //-   input#nearest(type="radio" name="orderBy")
            //-   br
            //-   span A-Z 
            //-   input#A-Z(type="radio" name="orderBy")
            //-   br
            //-   span Freshest
            //-   input#freshest(type="radio" name="orderBy")
            //-   br
            //-   input#sort(type="button" value="Sort Results")
            br
            .ui-widget
              span Tags
        #list_results_container
         .row#fooditem_results_card
            each fooditem in results.fooditems
             .col-md-6.col-lg-4
               a(href='/fooditem?id=' + fooditem.MealID id='fooditem_' + fooditem.MealID).card
                 img.card-img-top.img-fluid(src=fooditem.Image, alt='Card image cap')
                 .card-profile-container
                   img.card-userprofile-img(src=fooditem.ProfileImage, alt='Card image cap')
                 .card-block
                   h4.card-title #{fooditem.Name}
                   p.card-text #{fooditem.Description}
                   p.card-text
                     small.text-muted Best before #{fooditem.BestBefore}



      .col-6.embed-responsive#results_container_right
        #map-canvas.embed-responsive-item  

    script.
      var k = "#{results.tags}".split(",")
      //console.log(k)
      //- $("form#filters").submit(function(e){
      //-   var form = this;
      //-   $.getJSON('https://maps.googleapis.com/maps/api/geocode/json',{address: $("input#newName").val(), key: "AIzaSyCRkjhwstQA0YAqgmXH0-nmrO_hJ1m6pao"},function(data){
      //-     $("form#filters").append("<input type='text' name='food' value='"+$("#navsearchbar").val()+"'></input>")
      //-     $("form#filters").append("<input type='text' name='lat' value='"+data.results[0].geometry.location.lat+"'></input>")
      //-     $("form#filters").append("<input type='text' name='lng' value='"+data.results[0].geometry.location.lng+"'></input>")
      //-   })
      //-   e.preventDefault();
      //-   setTimeout(function(){
      //-     form.submit()
      //-   },500)
      //- })
      //- console.log($("#navsearchbar").val());
      $("form#filters").append("<input type='hidden' name='food' value='"+$("#navsearchbar").val()+"'></input>")
      $("form#filters").append("<input type='hidden' name='location' value='"+$("#navsearchbarlocation").val()+"'></input>")
      
      $("form#filters").submit(function(){
        e.preventDefault();
        var form = this;
        var location = "";
  
        //- document.cookie += ";"

        //- if($("input#newName").val() == ""){
        //-   location += Cookies.get('lat') + "," + Cookies.get('lng')
        //- }else{
        //-   location = $("input#newName").val()
        //- }


        form.submit();
      })

      $("input#range").change(function(){
        document.getElementById("rangeVal").value = $(this).val();
      })  

      $("input#rangeVal").change(function(){
        document.getElementById("range").value = $(this).val();
      })
      var tags = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: "#{results.tags}".split(",")
        //- prefetch: {
        //-   url: 'assets/tags.json',
        //-   filter: function(list) {
        //-     return $.map(list, function(tags) {
        //-       return { name: tags }; });
        //-     }
        //-   }
      });
      tags.initialize();
      //console.log(k)
      $('input#tag').tagsinput({
        typeaheadjs: {
          source: tags.ttAdapter()
        }
        //attempted to use freeInput: false, but doesnt work, hence event handler below
      });
      $('input').on('beforeItemAdd', function(event) {
        var exists = false
        if(k.indexOf(event.item) > -1){
          exists = true;
        }
        event.cancel = !exists
        // event.item: contains the item
        // event.cancel: set to true to prevent the item getting added
      });

  script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDoolQNICyc37wST4Zb_4KN378HnkeymL8&callback=initMap')



