extends layout

block container
  include includes/nav
  //- search options
  .modal.fade#search-options-modal(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        form#filters
          .modal-header
            h5#exampleModalLabel.modal-title Search Options
            |  
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body  
              //- span Location
              //- input#newName(type='text')
              //- br
              span Meal
              input#meal(type='checkbox',name='meal')
              span Ingredient
              input#ingredient(type="checkbox",name='ingredient')
              br
              .form-group.row
                label.col-3.col-form-label(for='example-date-input') Radius
                .col-4
                  input#range(type='range',name='radius')
                .col-4
                  input#rangeVal(type='number' width='20px')
                  span km
              span Tags
              input#tag(input='text',data-role='tagsinput',name='tags')
          .modal-footer
            button.btn.btn-primary Filter
            //- button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            //- |  
            //- button.btn.btn-primary(type='button') Save changes
  .modal.fade#search-filters-modal(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Search Filters
          |  
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body  
          form#filtering.form-inline
          label(for='example-date-input') Best Before
          input.form-control#bestBefore.filter(type='date', value='2017-02-19')
          label(for='example-date-input') Sort By
          select(name="orderBy")#orderBy.filter
            option(value='A-Z') A-Z 
            option(value='nearest') Nearest
            option(value='freshest') Freshest

  //- search results
  .container-fluid#display_item_results
    #mobile_details_handler
    .row.display-item-results-baby
      .col-6.no-float#results_container_left
      
        #search_item_details 
          if results.food
            h1 Searching for #{results.food} 
          else
            h1 Searching for anything
          #search_item_buttons
            button.btn.btn-primary#searchOptionsButton(data-toggle='modal', data-target='#search-options-modal') Options
            button.btn.btn-primary#searchFiltersButton(data-toggle='modal', data-target='#search-filters-modal') Filters


        #list_results_container
          #dud_spacing
          if results.food
            #itemCountMsg Theres 100 items found for #{results.food}. 
          else
            h5#itemCountMsg Theres 100 assorted dinnos found around you! 
          .row#fooditem_results_card
            each fooditem in results.fooditems
             .col-md-6.col-lg-4
               a(href='/fooditem?id=' + fooditem.MealID id='fooditem_' + fooditem.MealID).card
                 img.card-img-top.img-fluid(src=fooditem.Image, alt='Card image cap')
                 .card-profile-container
                   img.card-userprofile-img(src=fooditem.ProfileImage, alt='Card image cap')
                 .card-block
                   h4.card-title #{fooditem.Name}
                   p.card-text #{fooditem.Description}
                   p.card-text
                     small.text-muted Best before #{fooditem.BestBefore}

      .col-6.embed-responsive#results_container_right
        #map-canvas.embed-responsive-item  
  script(src='/assets/searchresult-mobile.js')
  script(src='/assets/searchresult-filters.js')
  script(src='/assets/searchresult-misc.js')
  script(src='assets/map.js')
  script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDoolQNICyc37wST4Zb_4KN378HnkeymL8&callback=initMap')